@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LDS Movies</h1>
    <p>Learn more about <a href="https://www.churchofjesuschrist.org/?lang=eng">the church</a>.</p>
</div>
